{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
    <div class="well">
        <div>
            <form class="form-signin" action="{{ path('_login_check') }}" method="post">
                <h2 class="form-signin-heading">Авторизация</h2>
                <label for="inputEmail" class="sr-only">Email</label>
                <input type="text" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="" name="_username">
                <br />
                <label for="inputPassword" class="sr-only">Пароль</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required=""  name="_password">
                <br />
                <div class="text-right">
                    <button class="btn btn-primary" type="submit">Войти</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}