{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
    <h2>Изменение журнала</h2>
    <div class="well">
        <div class="row">
            <div class="col-xs-2"></div>
            <div class="col-xs-8">
                <img src="{{ journal.photo }}" class="img-thumbnail">
                <form class="form-horizontal" method="POST" enctype="multipart/form-data">
                    <div class="row">
                        {{ form_widget(form) }}
                    </div>
                </form>
            </div>
            <div class="col-xs-2"></div>
        </div>
    </div>
{% endblock %}